/* *{
    margin: 0;
    padding: 0;
} */
div{
    width: 80%;
    height: auto;
    /* max-height: 200px; */
    padding: 50px 20px;
    padding-top: 100px;
    /* box-sizing: content-box; */
    box-sizing: border-box;
}
.mi-parrafo{
    /* border: red 3px solid; */
    border-color: red;
    border-width: 3px;
    border-style: solid;
    border-bottom-style: dotted;
    /* overflow: visible; */
    overflow: hidden;
    max-height: 200px;
    overflow-y: auto;
}