<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>for-in</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="ejemplo9">
        <h1>{{titulo1}}</h1>
        <input type="text" v-model="nuevaFruta">

        <button @click="agregarFruta">Agregar fruta</button>

        <ul>
            <li v-for="fruta of frutas">
                {{fruta.cantidad}} - {{fruta.nombre}}
            </li>
        </ul>
    </div>
    <script src="app.js"></script>
</body>
</html>